<div
  class="currency-card min-h-full relative text-white bg-linear-to-br from-purple-700/70 via-indigo-800/60 to-blue-900/70 backdrop-blur-lg shadow-2xl rounded-3xl p-6 overflow-hidden border border-white/10">
  <div class="mx-auto  max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="mt-10">
      <div class="flex p-px">
        <div class="w-full overflow-hidden rounded-lg lg:rounded-tr-4xl">
          <div class="from-container">
            <div class="flex flex-col">
              <div>
                <label for="price" class="block text-xl font-medium text-white">Amount</label>
                <div class="mt-2">
                  <app-currency-input
                      [amount]="amount()"
                      [currencyCode]="fromCurrency()"
                      [currencySymbol]="currency[fromCurrency()]"
                      (amountChange)="amount.set($event)"
                      (currencyCodeChange)="fromCurrency.set($event)"
                    />
                </div>
              </div>
              <div>
                <label for="price" class="block text-sm/6 font-medium text-white"></label>
                <div class="mt-2">
                  <app-currency-input
                      [amount]="converted()"
                      [currencyCode]="toCurrency()"
                      [currencySymbol]="currency[toCurrency()]"
                      [readonly]="true"
                      (currencyCodeChange)="toCurrency.set($event)"
                    />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>