<div
  class="currency-card min-h-full relative text-white bg-linear-to-br from-purple-700/70 via-indigo-800/60 to-blue-900/70 backdrop-blur-lg shadow-2xl rounded-3xl p-6 overflow-hidden border border-white/10">
  <div class="mx-auto  max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="mt-10">
      <div class="flex p-px">
        <div class="w-full overflow-hidden rounded-lg lg:rounded-tr-4xl">
          <div class="from-container">
            <div class="flex flex-col">
              <div>
                <label for="price" class="block text-xl font-medium text-white">Amount</label>
                <div class="mt-2">
                  <div
                    class="flex items-center rounded-md bg-gray-800 pl-3 outline-1 -outline-offset-1 outline-gray-600 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-500">
                    <div class="shrink-0 text-base text-gray-400 select-none sm:text-sm/6">{{ currency[fromCurrency()] }}</div>
                    <input [ngModel]="amount()" (ngModelChange)="amount.set(+$event)" id="price" type="text" name="price" placeholder="0.00"
                      class="block min-w-0 grow bg-gray-800 py-1.5 pr-3 pl-1 text-base text-white placeholder:text-gray-500 focus:outline-none sm:text-sm/6" />
                    <div class="grid shrink-0 grid-cols-1 focus-within:relative">
                      <select [ngModel]="fromCurrency()" (ngModelChange)="fromCurrency.set($event)" id="currency" name="currency" aria-label="Currency"
                        class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-gray-800 py-1.5 pr-7 pl-3 text-base text-gray-400 *:bg-gray-800 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                        <option>USD</option>
                        <option>INR</option>
                        <option>EUR</option>
                        <option>GBP</option>
                      </select>
                      <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true"
                        class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4">
                        <path
                          d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd" fill-rule="evenodd" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <label for="price" class="block text-sm/6 font-medium text-white"></label>
                <div class="mt-2">
                  <div
                    class="flex items-center rounded-md bg-gray-800 pl-3 outline-1 -outline-offset-1 outline-gray-600 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-500">
                    <div class="shrink-0 text-base text-center text-gray-400 select-none sm:text-sm/6 ">{{ currency[toCurrency()] }}</div>
                    <input [value]="converted() | number:'1.2-2'" id="price" type="text" name="price" placeholder="0.00"
                      class="block min-w-0 grow bg-gray-800 py-1.5 pr-3 pl-1 text-base text-white placeholder:text-gray-500 focus:outline-none sm:text-sm/6" />
                    <div class="grid shrink-0 grid-cols-1 focus-within:relative">
                      <select [(ngModel)]="toCurrency" id="currency" name="currency" aria-label="Currency"
                        class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-gray-800 py-1.5 pr-7 pl-3 text-base text-gray-400 *:bg-gray-800 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
                        <option>USD</option>
                        <option>INR</option>
                        <option>EUR</option>
                        <option>GBP</option>
                      </select>
                      <svg viewBox="0 0 16 16" fill="currentColor" data-slot="icon" aria-hidden="true"
                        class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4">
                        <path
                          d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
                          clip-rule="evenodd" fill-rule="evenodd" />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>